html {
    &.fp-enabled {
        margin: 0;
        padding: 0;
        overflow: hidden;
        /*Avoid flicker on slides transitions for mobile phones #336 */
        -webkit-tap-highlight-color: transparent;

        body {
            #fullpage {
                section {

                    text-align: center;

                    .slide {
                        .intro {
                            @include make-col();
                            @include make-col-span(12);
                            width: 80%;
                            margin: 0 auto;
                            text-align: left;
                            float: inherit;
                            @include media-breakpoint-down(md) {
                                width: 90%;
                            }

                            .inner_left {}
                        }
                    }

                    &.fp-section {
                        position: relative;
                        -webkit-box-sizing: border-box;
                        /* Safari<=5 Android<=3 */
                        -moz-box-sizing: border-box;
                        /* <=28 */
                        box-sizing: border-box;

                    }

                    &.fp-table {
                        display: table;
                        table-layout: fixed;
                        width: 100%;

                        .fp-tableCell {
                            display: table-cell;
                            vertical-align: middle;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .fp-slides {
                        float: left;
                        z-index: 1;
                        height: 100%;
                        overflow: hidden;
                        position: relative;
                        -webkit-transition: all 0.3s ease-out;
                        /* Safari<=6 Android<=4.3 */
                        transition: all 0.3s ease-out;
                        height: 100%;
                        display: block;

                        &.fp-table {
                            display: table;
                            table-layout: fixed;
                            width: 100%;
                        }

                        .fp-slidesContainer {
                            float: left;
                            position: relative;
                            height: 100%;
                            display: block;

                            .fp-slide {
                                height: 100%;
                                display: block;
                                float: left;
                            }

                            .fp-table {
                                display: table;
                                table-layout: fixed;
                                width: 100%;

                                .fp-tableCell {
                                    display: table-cell;
                                    vertical-align: middle;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }

                    .fp-controlArrow {
                        -webkit-user-select: none;
                        /* webkit (safari, chrome) browsers */
                        -moz-user-select: none;
                        /* mozilla browsers */
                        -khtml-user-select: none;
                        /* webkit (konqueror) browsers */
                        -ms-user-select: none;
                        /* IE10+ */
                        position: absolute;
                        z-index: 4;
                        top: 90%;
                        cursor: pointer;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        margin-top: -38px;
                        -webkit-transform: translate3d(0, 0, 0);
                        -ms-transform: translate3d(0, 0, 0);
                        transform: translate3d(0, 0, 0);

                        &.fp-prev {
                            left: 3rem;
                            z-index: 9;
                            display: block;
                            width: 20px;
                            height: 41px;
                            border: none;
                            background: url("../imgs/arrows-white.png") no-repeat 0 0;
                            background-position: left top;

                            &:before {
                                content: "";
                                display: table;
                                width: 3rem;
                                height: 3rem;
                                background: #ec4331;
                                position: absolute;
                                right: -15px;
                                top: -5px;
                                opacity: 0;
                                -webkit-transition: opacity 0.25s ease-in-out;
                                -moz-transition: opacity 0.25s ease-in-out;
                                -o-transition: opacity 0.25s ease-in-out;
                                transition: opacity 0.25s ease-in-out;
                            }

                            &:after {
                                content: "";
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                z-index: 9;
                                display: block;
                                width: 20px;
                                height: 41px;
                                background: url("../imgs/arrows-white.png") no-repeat;
                                opacity: 0;
                                background-position: left top;
                            }

                            &:hover:after,
                            &:hover:before {
                                opacity: 1;
                            }
                        }

                        &.fp-next {
                            right: 3rem;
                            z-index: 9;
                            display: block;
                            width: 20px;
                            height: 41px;
                            border: none;
                            background: url("../imgs/arrows-white.png") no-repeat 0 0;
                            background-position: right top;

                            &:before {
                                content: "";
                                display: table;
                                width: 3rem;
                                height: 3rem;
                                background: #ec4331;
                                position: absolute;
                                right: -15px;
                                top: -5px;
                                opacity: 0;
                                -webkit-transition: opacity 0.25s ease-in-out;
                                -moz-transition: opacity 0.25s ease-in-out;
                                -o-transition: opacity 0.25s ease-in-out;
                                transition: opacity 0.25s ease-in-out;
                            }

                            &:after {
                                content: "";
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                z-index: 9;
                                display: block;
                                width: 20px;
                                height: 41px;
                                background: url("../imgs/arrows-white.png") no-repeat;
                                opacity: 0;
                                background-position: right top;
                            }

                            &:hover:after,
                            &:hover:before {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            #fp-nav {
                position: fixed;
                z-index: 100;
                margin-top: -32px;
                top: 50%;
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);

                &.right {
                    right: 2rem;
                }

                &.left {
                    left: 2rem;
                }

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        display: block;
                        width: 14px;
                        height: 13px;
                        margin: 7px;
                        position: relative;

                        &:hover {
                            .fp-tooltip {
                                -webkit-transition: opacity 0.2s ease-in;
                                transition: opacity 0.2s ease-in;
                                width: auto;
                                opacity: 1;
                            }

                            a {
                                span {
                                    width: 10px;
                                    height: 10px;
                                    margin: -5px 0 0 -5px;
                                }
                            }
                        }

                        a {
                            display: block;
                            position: relative;
                            z-index: 1;
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                            text-decoration: none;

                            &.active {
                                span {
                                    height: 14px;
                                    width: 14px;
                                    margin: -8px 0 0 -7px;
                                    // border-radius: 100%;
                                }
                            }

                            span {
                                // border-radius: 50%;
                                position: absolute;
                                z-index: 1;
                                height: 4px;
                                width: 4px;
                                border: 0;
                                background: #333;
                                left: 50%;
                                top: 50%;
                                margin: -2px 0 0 -2px;
                                -webkit-transition: all 0.1s ease-in-out;
                                -moz-transition: all 0.1s ease-in-out;
                                -o-transition: all 0.1s ease-in-out;
                                transition: all 0.1s ease-in-out;
                            }
                        }

                        .fp-tooltip {
                            position: absolute;
                            top: -4px;
                            color: #000;
                            font-size: 14px;
                            font-family: arial, helvetica, sans-serif;
                            white-space: nowrap;
                            max-width: 220px;
                            overflow: hidden;
                            display: block;
                            opacity: 1;
                            width: 0;
                            cursor: pointer;

                            &.right {
                                right: 2rem;
                            }

                            &.left {
                                left: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
